.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.errorText {
  color: red;
  font-weight: bold;
}

.errorInput {
  border: red 2px solid;
}

.filterBtnActive {
  background-color: gold;
}

.isDoneTask {
  opacity: 0.5;
}